<h1>Hey, this is {{title}}</h1>
<h1>{{2*2 +(4)}}</h1>
<app-user-list></app-user-list>
<app-inline-style></app-inline-style>
<app-student-list></app-student-list>
<app-sign-up></app-sign-up>
<button (click)="getName()">Click Me</button>
<button (click)="getName_1('Hello! ','AsadUllah')">Click myName</button>
<br>
<br>
<button (click)="getData('AsadUllah')">Click it</button>
<input type="text" #box (keyup)="getData(box.value)" placeholder="Event keyup">
<br>
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="Event keydown">
<br>
<input type="text" #box2 (blur)="getData(box2.value)" placeholder="Event blur">
<br>
<input type="text" #box3 (input)="getData(box3.value)" placeholder="Event input">

<h1 (mouseover)="getData('over')">Event Mouseover</h1>
<h1 (mouseleave)="getData('leave')">Event mouseleave</h1>

<input type="text" placeholder="Enter your city name" #city name="username">
<button (click)="getData(city.value)">Get value</button>
<p>Box value is: {{displayVal}}</p>

<button (click)="counter('')">--</button>
<p>Counter value: {{count}}</p>
<button (click)="counter('add')">++</button>