<h1>Hey, this is {{title}}</h1>
<h1>{{2*2 +(4)}}</h1>
<app-user-list></app-user-list>
<app-inline-style></app-inline-style>
<app-student-list></app-student-list>
<app-sign-up></app-sign-up>
<button (click)="getName()">Click Me</button>
<button (click)="getName_1('Hello! ','AsadUllah')">Click myName</button>
<br>
<br>
<button (click)="getData('AsadUllah')">Click it</button>
<input type="text" #box (keyup)="getData(box.value)" placeholder="Event keyup">
<br>
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="Event keydown">
<br>
<input type="text" #box2 (blur)="getData(box2.value)" placeholder="Event blur">
<br>
<input type="text" #box3 (input)="getData(box3.value)" placeholder="Event input">

<h1 (mouseover)="getData('over')">Event Mouseover</h1>
<h1 (mouseleave)="getData('leave')">Event mouseleave</h1>

<input type="text" placeholder="Enter your city name" #city name="username">
<button (click)="getData(city.value)">Get value</button>
<p>Box value is: {{displayVal}}</p>

<button (click)="counter('')">--</button>
<p>Counter value: {{count}}</p>
<button (click)="counter('add')">++</button>

<br> <br>
<input type="text" name="user-name" value={{name}} disabled={{disable}}>
<br> <br>
<input type="text" name="user-name" [value]=name [disabled]=disable>
<br> <br>
<button (click)="getChange()">Change</button>
<br> <br>

<h1 *ngIf="show; then ifBlock else elseBlock"></h1>

<ng-template #ifBlock>
    <h1>
        If condition
    </h1>
</ng-template>
<ng-template #elseBlock>
    <h1>
        code false by false
    </h1>
</ng-template>
<br> <br>
<button (click)="changeCondition()">Condition Change</button>
<br> <br>
<br> <br>
<!--multiple else-if statements -->
<ng-template [ngIf]="color==='red'">
    <h1 style="color: red;">Red Colour</h1>
</ng-template>
<ng-template [ngIf]="color==='green'">
    <h1 style="color: green;">Green Colour</h1>
</ng-template>
<ng-template [ngIf]="color==='blue'">
    <h1 style="color: blue;">Blue Colour</h1>
</ng-template>
<button (click)="changeString()">Change String</button>

<!-- Switch statement -->
<div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'" style="color: red;">Red Colour</h1>
    <h1 *ngSwitchCase="'green'" style="color: green;">Green Colour</h1>
    <h1 *ngSwitchCase="'blue'" style="color: blue;">Blue Colour</h1>
    <h1 *ngSwitchDefault="">Unknown Colour</h1>
    <br>
    <button (click)="changeString()">Change String</button>
</div>
<!-- For-loop -->
<h1 *ngFor="let item of users">{{item}}</h1>
<h2 *ngFor="let details of userDetails">{{details.name}} -- {{details.email}}-- {{details.phone}}</h2>